<template>
<el-form :model="user" label-width="100px">
    <el-col :lg="12" :md="12" :sm="24">
        <el-form-item label="User Name">
            <el-input ref="username" v-model="user.name"></el-input>
        </el-form-item>
    </el-col>
    <el-col :lg="12" :md="12" :sm="24">
        <el-form-item label="Phone">
            <el-input v-model="user.phone"></el-input>
        </el-form-item>
    </el-col>
    <el-col :lg="24" :md="24" :sm="24">
        <el-form-item label="Address">
            <el-input v-model="user.address"></el-input>
        </el-form-item>
    </el-col>
    <el-col :lg="24" :md="24" :sm="24">
        <el-form-item>
            <el-button type="primary" ref="submit_button" @click="onSubmit">Submit</el-button>
        </el-form-item>
    </el-col>
</el-form>
</template>

<script>
export default{
    data(){
        return {
            user:{
                name:"Thomas",
                phone:"13712345678",
                address:""
            },            
        }
    },
    methods:{
        onSubmit: function(){
            // ajax to api            
            console.log(JSON.stringify(this.user));
        }
    }
}
</script>