<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="8"><my-sidebar /></el-col>
      <el-col :span="16">
        <el-row :gutter="20">
          <el-col :span="24"><div class="grid-content bg-purple-dark"><my-menu /></div></el-col>
          <el-col :span="24"><my-form /></el-col>
          <el-col :span="24"><my-list /></el-col>
        </el-row>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import Sidebar from "./components/sidebar.vue"
import Menu from "./components/menu.vue"
import List from "./components/list.vue"
import Form from "./components/form.vue"

export default {
  components:{
    "my-sidebar":Sidebar,
    "my-menu": Menu,
    "my-list": List,
    "my-form": Form
  }  
}
</script>